// Styles for all pages
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto:400,400i,500,500i,700&display=swap&subset=cyrillic');
@import './variables.scss';

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding-bottom: 168px;
  font-family: $roboto;
}

p {
  margin: 0;
  padding: 16px 0;
  color: #212121;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding: 20px 0;
  color: #212121;
}

h2 {
  font-size: 26px;
  color: #0277bd;
}

h3 {
  font-size: 22px;
  color: #0277bd;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}

main {
  margin: 0 32px 32px 32px;
}

a {
  color: #0277bd;
  transition: color 0.3s ease;
}

a:hover {
  color: #0091ea;
}

.hidden {
  opacity: 0;
}
