{{!-- 
  Page layout
  @title (string): text for <title></title>
  @description (string): text for <meta name="description" content="{{description}}">
  @keywords (string): list of keywords for <meta name="keywords" content="{{keywords}}">
  @pathToPublic (string): path to public directory 
--}}
<!DOCTYPE html>
<html lang="en">
  {{> decorators/head
    title=title
    description=description
    keywords=keywords
    pathToPublic=pathToPublic
  }}
  <body>
    {{> @partial-block }}
    {{> decorators/scripts-importer pathToPublic=pathToPublic }}
  </body>
</html>