{{!-- 
  Code example
  @codeExampleClassnames (string): additional css classes
--}}
<div class="code-example-wrapper {{#if codeExampleClassnames}}{{codeExampleClassnames}}{{/if}}">
  {{> @partial-block}}
</div>