{{!-- 
  Navigation sidebar
  @activeTab (string): name of active tab
  @dataAction (string): text for data-action attribute
--}}
<nav>
  <ul>
    {{!--
    <li class="navigation-item">
      <strong>Create own regex:</strong>
      <ul>
        <li data-action="navigation-link-wrapper" data-nav-url="#is"><a href="#is">is</a></li>
      </ul>
    </li>
    --}}
    <li class="navigation-item">
      <strong>Verify strings:</strong>
      <ul>
        <li data-action="navigation-link-wrapper" data-nav-url="#isEmail"><a href="#isEmail">isEmail</a></li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isPassword"><a href="#isPassword">isPassword</a></li>
      </ul>
    </li>
  </ul>
</nav>