{{!-- 
  Navigation sidebar
  @activeTab (string): name of active tab
  @dataAction (string): text for data-action attribute
--}}
<nav>
  <ul>
    <li class="navigation-item">
      <strong>Create own regex:</strong>
      <ul>
        <li data-action="navigation-link-wrapper" data-nav-url="#is">
          <a href="#is" data-nav-url="#is">is</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#createIs">
          <a href="#createIs" data-nav-url="#createIs">createIs</a>
        </li>
      </ul>
    </li>
    <li class="navigation-item">
      <strong>Escape string:</strong>
      <ul>
        <li data-action="navigation-link-wrapper" data-nav-url="#escape">
          <a href="#escape" data-nav-url="#escape">escape</a>
        </li>
      </ul>
    </li>
    <li class="navigation-item">
      <strong>Verify strings:</strong>
      <ul>
        <li data-action="navigation-link-wrapper" data-nav-url="#isEmail">
          <a href="#isEmail" data-nav-url="#isEmail">isEmail</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isPassword">
          <a href="#isPassword" data-nav-url="#isPassword">isPassword</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isUuid">
          <a href="#isUuid" data-nav-url="#isUuid">isUuid</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isBearer">
          <a href="#isBearer" data-nav-url="#isBearer">isBearer</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isJwt">
          <a href="#isJwt" data-nav-url="#isJwt">isJwt</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isUrl">
          <a href="#isUrl" data-nav-url="#isUrl">isUrl</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isHexColor">
          <a href="#isHexColor" data-nav-url="#isHexColor">isHexColor</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isImageMimetype">
          <a href="#isImageMimetype" data-nav-url="#isImageMimetype">isImageMimetype</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isAudioMimetype">
          <a href="#isAudioMimetype" data-nav-url="#isAudioMimetype">isAudioMimetype</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isVideoMimetype">
          <a href="#isVideoMimetype" data-nav-url="#isVideoMimetype">isVideoMimetype</a>
        </li>
        <li data-action="navigation-link-wrapper" data-nav-url="#isMimetype">
          <a href="#isMimetype" data-nav-url="#isMimetype">isMimetype</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>