{{#> decorators/page
  title="Regexies"
  description="The library includes a list of popular regex functions for every project usage. You can use special builder functions to create your own regexes."
  keywords="regular, expressions, regex, regexp, match, regular expressions, js regex, javascript regex"
  pathToPublic="./public"
}}
  <main>
    <h1>Regexies</h1>
  </main>
{{/decorators/page}}
