@import '../components/content-container/content-container.scss';
@import '../components/forms/forms.scss';
@import '../components/navigation/navigation.scss';
@import '../components/buttons/buttons.scss';

.create-is-rule-item {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
